<div class="container">
   
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
      <div mat-dialog-content style="text-align: center; color:blue;">
        <b style="font-size: 18px;">Add Content</b>
      </div>
  
     
     
      <mat-form-field >
        <mat-label >Title</mat-label>
        <input matInput  [(ngModel)]="data.title" name="title" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field >
        <mat-label >Summary</mat-label>
        <input matInput  [(ngModel)]="data.summary" name="summary" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field><br><br>
      
     
  
      <div mat-dialog-actions>
        <button mat-raised-button mat-button color="success" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd();  getToast();">Save</button>
        <button mat-raised-button mat-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </form>
  </div>

