.container {
    display: flex;
  
    min-width: 80px;
    min-height:320px;
    overflow:-moz-hidden-unscrollable;
  }
  
  .container > * {
    width:330px;
    justify-content: center;
    height:400px;
  }
  
  .form {
    display: flex;
    padding-top: 8px;
    overflow:-moz-hidden-unscrollable;
  }
  
  .mat-form-field {
    font-size: 16px;
    flex-grow: 1;
    margin-left:40px;
    margin-right:10px;
    margin-top:16px;
    width:70%;
    height:20px;
  }
 
  .mat-raised-button.mat-success{
    margin-left:60px;
    color: #f0fff3;
    background-color:MediumSeaGreen;
    
  }
