

<html>
<head>
  <script src="/src/assets/js/accordion.js"></script>
</head>
<body>
<!-- <div class="card" >
  <img [src]="img17"  alt="Image">
    
  <div class="card-body">
      <h5 class="card-title" >
          Card title
      </h5>
        
      <button class="accordion">Section 1</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
  </div>
    
  <div class="card-footer">
       
      <button mat-icon-button color="accent" >
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
     
      <button mat-icon-button color="accent" >
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
      
  </div>
</div> -->
<div>
<button mat-icon-button color="primary" (click)="addNew()">
  <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
</button>
</div>


</body>
</html>