mat-form-field {
    width: 60%;
  
    
  height:25px;
  z-index:2;
  }
  
  button {
  
    width: 80px;
  }
  div{ 
    justify-content: center;
  }
  
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .mat-raised-button.mat-success{
 margin-left:360px;
    color: #f0fff3;
    background-color:MediumSeaGreen;
  }
  #Image{
    top:100px;
  }
// Profile

//   .profile-pic-div{
//     height: 150px;
//     width: 200px;
//     position: absolute;
//     top: 150px;
//     left: 50%;
//     transform: translate(-50%,-50%);
//     border-radius: 50%;
//     overflow: hidden;
//     border: 1px solid grey;
// }

// #photo{
//     height: 100%;
//     width: 100%;
// }

// #file{
//     display: none;
// }

// #uploadBtn{
//     height: 40px;
//     width: 100%;
//     position: absolute;
//     bottom: 0;
//     left: 50%;
//     transform: translateX(-50%);
//     text-align: center;
//     background: rgba(0, 0, 0, 0.7);
//     color: wheat;
//     line-height: 30px;
//     font-family: sans-serif;
//     font-size: 15px;
//     cursor: pointer;
//     display: none;
// }
// *{
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

