<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<div class="container-fluid">
  
  <div class="row">
    <div class="col-sm-6" style="text-align: center; justify-content: center;">
    <h1 ><b>You were logged out</b>
    </h1>      

    <a 
   routerLinkActive="active-link"
    routerLink="/login"
  >
    <span>Need to Login again.Click here </span>
  </a><br>
    <h3>See you later</h3>
  </div>
  <div claass="col-sm-6">
    <img [src]="img10" alt=""class="img-responsive margin" style="width:100%" alt="Image">
  </div>
  </div>
</div>
