
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>


 
 
   <div class="container">    
    <h3 class="margin">What is Education ?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>“The man who does not read books has no advantage over the one who cannot read them.” — Mark Twain</p>
        <img [src]="img2" alt=""class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>“Education is the passport to the future, for tomorrow belongs to those who prepare for it today.” — Malcolm </p>
        <img [src]="img6" alt="" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>“Successful and unsuccessful people do not vary greatly in their abilities,vary in their desires to reach their potential.” – John Maxwell</p>
        <img [src]="img3" alt=""class="img-responsive margin" style="width:100%" alt="Image">
      </div>
    </div>
  </div> 

  <div class="container">    
    <h3 class="margin">What is Education ?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>“The man who does not read books has no advantage over the one who cannot read them.” — Mark Twain</p>
        <img [src]="img2" alt=""class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>“Education is the passport to the future, for tomorrow belongs to those who prepare for it today.” — Malcolm </p>
        <img [src]="img6" alt="" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>“Successful and unsuccessful people do not vary greatly in their abilities,vary in their desires to reach their potential.” – John Maxwell</p>
        <img [src]="img3" alt=""class="img-responsive margin" style="width:100%" alt="Image">
      </div>
    </div>
  </div>
  
  <div class="container">    
    <h3 class="margin">What is Education ?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>“The man who does not read books has no advantage over the one who cannot read them.” — Mark Twain</p>
        <img [src]="img2" alt=""class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>“Education is the passport to the future, for tomorrow belongs to those who prepare for it today.” — Malcolm </p>
        <img [src]="img6" alt="" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>“Successful and unsuccessful people do not vary greatly in their abilities,vary in their desires to reach their potential.” – John Maxwell</p>
        <img [src]="img3" alt=""class="img-responsive margin" style="width:100%" alt="Image">
      </div>
    </div>
  </div> 
  