
<div class="container">
 <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
  
      <div mat-dialog-content style="text-align: center; color:blue;">
        <b style="font-size: 18px;">Edit Content</b>
      </div>

      <!-- <mat-form-field >
        <mat-label >Standard name</mat-label>
        <input matInput  [(ngModel)]="content.standard_name" name="standard_name" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field><br>
  
      <mat-form-field >
        <mat-label >Subject name</mat-label>
        <input matInput  [(ngModel)]="content.subject_name" name="subject_name" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field><br> -->

      <mat-form-field >
        <mat-label>Standard </mat-label>
           <!-- <input matInput  [(ngModel)]="content.standard_name" name="standard_name">   -->
        <mat-select matInput [(ngModel)]="content.std_id" name="std_id" required>
         
          <mat-option [value]="standard.id" *ngFor="let standard of standards">{{standard.standard_name}}</mat-option> 
          
        </mat-select>
       
      </mat-form-field>




<mat-form-field >
  <mat-label>Subject </mat-label>
   
  <mat-select  [(ngModel)]="content.sub_id" name="sub_id" required>
   
    <mat-option [value]="subject.id" *ngFor="let subject of subjects">{{subject.subject_name}}</mat-option> 
    
  </mat-select>
  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>

     
      <mat-form-field >
        <mat-label >Title</mat-label>
        <input matInput  [(ngModel)]="content.title" name="title" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field><br>

      <mat-form-field >
        <mat-label >Summary</mat-label>
        <textarea  matInput  [(ngModel)]="content.summary" name="summary" required></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field><br>
      
      <mat-form-field >
        <mat-label >Youtube Links</mat-label>
        <textarea   matInput  [(ngModel)]="content.links" name="links" required></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field><br>
    



<mat-form-field>
  <ngx-mat-file-input #removableInput formControlName="removablefile" placeholder="Choose file"></ngx-mat-file-input>
  <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
    <mat-icon>clear</mat-icon>
  </button>
</mat-form-field><br>
      
  
      <div mat-dialog-actions>
 
        <button  mat-raised-button mat-button color="success"  [type]="submit"  [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="Edit();  getToast();" >Save</button>
        <button  mat-raised-button  mat-button color="warn"   (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </form>
  </div>