<!-- <input type="checkbox" id="check">
 <header  class="header">
 
  
  
    <a routerLinkActive="active-link" routerLink="/logout" class="logout_btn"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
 
</header> 

  
 <div   class="sidebar">
<div class="sidebar-menu" >
  <div class="art">
  <label for="check">
    <i class="fa fa-bars" id="sidebar_btn"></i>
  </label></div>

   <a  routerLink="/" ><i class="fa fa-user" aria-hidden="true"></i>&nbsp;
      <span>Home</span></a>
   <a routerLink="/manage-qa" routerLinkActive="active"><i class="fa fa-question-circle x-lg"></i>&nbsp;
        <span>Quiz </span></a> 
   
      <a routerLink="/manage-qa" routerLinkActive="active"><i class="fa fa-question-circle x-lg"></i>&nbsp;
        <span>History</span></a>
        
 
</div>  
</div>
<div   class="content">
  <router-outlet></router-outlet>
</div> -->
