<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  


<div class="container-fluid  text-center">    
    <h4 class="margin"><b>Who we are ?</b></h4>
    <h2 class="margin"><b>PASSION CHASERS !!</b></h2><br>
    <div class="row">
      <div class="col-sm-6" style="text-decoration: wavy;"><br><br><br>
        <h3>Students do not learn much just sitting in classes listening to teachers, memorizing prepackaged assignments, and spitting out answers.<br><br> They must talk about what they are learning, write reflectively about it, relate it to past experiences, and apply it to their daily lives. </h3>
        <!-- <img [src]="img2" alt=""class="img-responsive margin" style="width:100%" alt="Image"> -->
      </div>
      <div class="col-sm-6"> 
        
        <img [src]="img7" alt="" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
     
    </div>

    <div class="row">
        <div class="col-sm-6" style="text-decoration: wavy; text-align:center"><br><br><br><br>
            <img [src]="img8" alt="" class="img-responsive margin" style="width:100%" alt="Image">
          
          <!-- <img [src]="img2" alt=""class="img-responsive margin" style="width:100%" alt="Image"> -->
        </div>
        <div class="col-sm-6"> <br><br><br><br><br><br>
            <h3>The new normal now is a transformed concept of education with online learning at the core of this transformation. <br>Today, digital learning has emerged as a necessary resource for students and schools all over the world. </h3>
       
        </div>
       
      </div>

  </div>