.box-area{
    padding-top: 30px;
    }        
    .socials a {
    width: 40px;
    height: 40px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%);
    display: inline-block;
    transition: .9s;
    }
    .socials a:hover{
    background: #000;
    }
    .socials i {
    color: #fff;
    padding: 12px;
    }
    .line {
    height: 5px;
    width: 200px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    margin: 20px 0;
    }
    .card-header {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    }
    .card-body {
    background: #ddd;
    }
    .btn.btn-link {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    }
    
    /*responsive css*/
    
    @media (max-width: 600px){
    .btn.btn-link {
    font-size: 16px;
    }
    .socials {
    margin-bottom: 30px;
    }
    .card-body img {
    width: 100%;
    }
    }
    